* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.card {
    border: 5px, solid, grey;
    border-radius: 5px;
    display: inline;
}

.score {
    border: 5px, solid, black;
    border-radius: 5px;
    display: inline;
}