* {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
    margin: 5px;
}

.card {
    border: 5px, solid, grey;
    border-radius: 5px;
    text-align: center;
    width: 75px;
    height: 125px;
    padding: 5px;
    display: inline-block;
}

#dealerHand, #playerHand {
    height: 150px;
}

#dealerScore, #playerScore {
    border: 5px, solid, black;
    border-radius: 5px;
    width: 400px;
    padding: 5px;
    display: inline-block;
}

.hidden {
    color: transparent;
    user-select: none;
}